body, html {
  height: 100%
}

body {
  background-image: url("images/background.png");


  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: left;
}

h1 {
  color: darkblue;
}
h2 {
  color: darkblue;
}
